__pycache__/
*.pyc
artifacts/
*.db
*.sqlite
*.doc
*.docx
*.zip
*.7z

artifacts/db/*.db
artifacts/pdfs*/
artifacts/temp/*

test_source/.~lock*
.directory

.DS_Store

# Large local datasets
test_source_mid/
test_source_large/

# Optional: ignore all raw document dumps
DocDump/