__pycache__/
*.pyc
artifacts/
*.db
*.sqlite
*.doc
*.docx
*.zip
*.7z

artifacts/db/*.db
artifacts/pdfs*/
artifacts/temp/*

test_source/.~lock*
.directory

.DS_Store

.continue/

# Optional: ignore all raw document dumps
DocDump/
test_source_enron/
test_source_large/
test_source_mid/