*/__pycache__/
*.pyc
artifacts/
*.db
*.sqlite
*.doc
*.docx
*.zip
*.7z

artifacts/db/*.db
artifacts/pdfs*/
artifacts/temp/*
docs/*

test_source/.~lock*
.directory

.DS_Store

.continue/

# Optional: ignore all raw document dumps
DocDump/
test_source_enron/
test_source_large/
test_source_mid/

# PyInstaller
build/
dist/
*.spec.tmp
*.toc
*.pyz
*.pkg

# Python
__pycache__/
*.pyc

# Virtual environments
.venv/

# OS
.DS_Store
Thumbs.db

docs/Victory.md
